<h1> Teacher Dashboard </h1>
<h2> Welcome back ~name~ </h2>

<h3>Add Course</h3>
<!--  
    teacher selects between courses
    goes to course show page
--> 
<h3>Course List</h3>
<!--  
    teacher selects between courses
    goes to course show page
--> 